 @import 'reset.css';


div#container {

}

div#form { 
    display: block;
    height:300px;
    border:1px rgb(170, 168, 168) solid;
    border-radius:10px;
    width:300px;
    margin:250px auto;
    padding:15px
    
}

#login {

}


input[type=text], input[type=password], input[type=button] {
    display:block;
    margin: auto;
    width:80%;
    margin: 10px;

}

input[type=text] {

}

input[type=password] {

}

input[type=button] {

} 